*{
    margin: 0;
}

body {
    outline: blue solid 4px;
    color: white;
    background-image: url("/images/rainbow.jpg");
    background-size: cover;
    font-family: 'Gochi Hand', cursive;
}

main {
    outline: red solid 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 100vh;
    margin: 0 auto;
}

h1{
    outline: red solid 2px;
    font-size: 6rem;
    color: black;
    font-weight: 500;
}

h2{
    outline: blue solid 2px;
    font-size: 4rem;
    color: black;
}

.container {
    outline: yellow solid 4px;
    width: 50%;
    aspect-ratio: 1;
    background-image: url('./images/close.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.reset {
    padding: 1rem;
    color: white;
    background-color: rgb(154, 214, 207);
    font-family: 'Gochi Hand', cursive;
    font-size: 2.5rem;
    border-radius: 100%;
    border: rgb(2, 156, 138) 5px dotted;
    cursor: pointer;
}

/* POPCAT image */
.catOpenMouth {
    background-image: url("/images/open.png");
    background-size: contain;
}